* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  color: #141414;
  background-color: #d9d9d9;
}

.App {
  width: 100vw;
  height: 100vh;
}

.review,
img {
  width: 300px;
  margin: 10px;
  display: block;
  border-radius: 15px;
}

img {
  margin: 0;
  border: 3px outset #141414;
}

.reviewContainer,
.reviewCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1,
h2 {
  margin: 10px;
}
