* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  color: #141414;
  background-color: #d9d9d9;
  text-decoration: none;
}

.App {
  width: 100vw;
  height: 100vh;
}

.review,
img {
  width: 300px;
  margin: 10px;
  display: block;
  border-radius: 15px;
}

img {
  margin: 0;
  border: 3px outset #cf3030;
}

.reviewContainer,
.reviewCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1,
h2,
h3 {
  margin: 10px;
  text-decoration: underline;
}

p {
  margin: 5px;
}

.commentCard {
  border: 2px outset #141414;
  border-radius: 5px;
  margin-top: 10px;
}

.commentBody {
  border-bottom: 2px solid #141414;
}

.commentsContainer {
  margin: auto;
  width: 40vw;
  min-width: 300px;
}
